h4.content-title = @category.title
- @articles.each do |article|
  .media
    .media-left
      = link_to image_tag(article.image.url(:thumb)), article_path(article.slug)
    .media-body
      h4.media-heading = link_to article.title, article_path(article.slug)
      p = article.description
      p = article.created_at.strftime("%d-%m-%y %H:%M")
