<div class="admin-container">
    <div class="logo">
        <%= image_tag('logo.png') %>
        <h3>Change your password</h3>
    </div>

    <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
         <div class="form">
             <p id="notice"><%= notice %></p>
            <%= f.error_notification %>
            <%= f.input :reset_password_token, as: :hidden %>
            <%= f.full_error :reset_password_token %>


            <%= f.input :password, placeholder: "New password", label: "", input_html: { :class => 'form-control' } , required: true, autofocus: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) %>
            <%= f.input :password_confirmation, required: true, placeholder: "Confirm your new password", label: "", input_html: { :class => 'form-control' }  %>
        </div>
        <div class="form-actions">
            <%= f.button :submit, "Change my password", class: 'btn btn-success' %>
        </div>
    <% end %>
</div>
