h4.content-title = @article.title
p.article-content = @article.content.html_safe
- if @article.tags_array.present?
  div.tags
    span Tags:
    - @article.tags_array.each do |tag|
      a href="#{ tag_path(tag) }"
        i.fa.fa-tag
        span = " #{tag}"
        
- if @article.related_articles.present?
  .related-article
    .title Bài viết liên quan
    ul
      binding.pry
      - @article.related_articles.each do |article|
        li
          = link_to article.title, article_path(article.slug)
