<div class="admin-container">
    <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="form">
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
        <%= f.input :email, required: false, autofocus: true, placeholder: "Email", label: "", input_html: { class: 'form-control' } %>
        <%= f.input :password, required: false, placeholder: "Password", label: "", input_html: { class: 'form-control' } %>
        <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, "Log in", class: 'btn btn-success' %>
      </div>
    <% end %>
</div>
