<%= form.send :text_area, field.method_name, :class => 'redactor' %>
<%= stylesheet_link_tag 'redactor-rails/css/redactor', media: 'all' %>
<%= javascript_include_tag 'redactor-rails/redactor.min'%>
<%= javascript_include_tag 'redactor-rails/plugins'%>
<script type="text/javascript">
$(document).ready(
  function(){
  var csrf_token = $('meta[name=csrf-token]').attr('content');
  var csrf_param = $('meta[name=csrf-param]').attr('content');
  var params;
  if (csrf_param !== undefined && csrf_token !== undefined) {
    params = csrf_param + "=" + encodeURIComponent(csrf_token);
  }
  $('.redactor').redactor({
      "imageUpload":"/api/service/upload?" + params,
      "autoresize": false,
      "path":"/assets/redactor-rails",
      "css":"style.css",
      "plugins": [ 'imagemanager',
                'fontsize',
                'fontcolor',
                'fullscreen',
                'textdirection', 'table']
  });
});
</script>
