@font-face {
    font-family: 'Lato';
    src: url('/fonts/Lato-Light.eot'); /* IE9 Compat Modes */
    src: url('/fonts/Lato-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('/fonts/Lato-Light.woff2') format('woff2'), /* Modern Browsers */
         url('/fonts/Lato-Light.woff') format('woff'), /* Modern Browsers */
         url('/fonts/Lato-Light.ttf') format('truetype');
    font-style: normal;
    font-weight: 300;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: 'Lato';
    src: url('/fonts/Lato-Regular.eot'); /* IE9 Compat Modes */
    src: url('/fonts/Lato-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('/fonts/Lato-Regular.woff2') format('woff2'), /* Modern Browsers */
         url('/fonts/Lato-Regular.woff') format('woff'), /* Modern Browsers */
         url('/fonts/Lato-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: 400;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: 'Lato';
    src: url('/fonts/Lato-Medium.eot'); /* IE9 Compat Modes */
    src: url('/fonts/Lato-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('/fonts/Lato-Medium.woff2') format('woff2'), /* Modern Browsers */
         url('/fonts/Lato-Medium.woff') format('woff'), /* Modern Browsers */
         url('/fonts/Lato-Medium.ttf') format('truetype');
    font-style: normal;
    font-weight: 500;
    text-rendering: optimizeLegibility;
}

body {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 400;
  width: 100%;
  height: 100%;
  background-image: url("<%= asset_data_uri('bg.jpg') %>");
  background-attachment:fixed;
  background-size: cover;
}

.container {
  width: 1040px;
  background: #FFFFFF;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  margin: 40px auto;
  border-radius: 5px;
}

@media (max-width: 768px) {
  .container {
    width: 100%;
  }
}


p, span, h1, h2, h3, h4, h5, h6 {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, sans-serif;
}

p {
  margin: 0;
}

header {
  padding: 20px 0;
  .slogan {
    line-height: 50px;
    font-size: 36px;
    padding-left: 20px;
    color: #005BAA;
    vertical-align: middle;
  }
  .links {
    a {
      padding: 5px;
      display: inline-block;
      img {
        height: 34px
      }
    }
  }
  .search-bar {
    padding: 5px;
    width: 150px;
    .form-control {
      border-radius: 0;
    }
    .input-group-btn {
      background-color: #005BAA;
      .btn-primary {
        border-radius: 0;
        background-color: #005BAA;
        border-color: #005BAA;
        border: 1px solid #005BAA;
      }
    }
  }
}

@media (max-width: 768px) {
  .logo, .slogan {
    width: 100%;
    padding: 0 !important;
    text-align: center;
  }
}

#slider {
  i {
    color: #FFFFFF;
  }
  .nivo-prevNav {
    left: 10px;
  }
  .nivo-nextNav {
    right: 10px;
  }
}

#sidebar {
  .sidebar-box {
    // border-bottom: 1px solid #ccc;
    margin-bottom: 40px;
    &.news-box {
      padding-bottom: 20px;
      margin-bottom: 20px;
      border: 1px solid #005BAA;
      border-radius: 5px;
      padding: 0 8px 8px 8px;
      .sidebar-title {
        margin-bottom: 20px;
      }
    }
    .sidebar-title {
      height: 42px;
      line-height: 42px;
      vertical-align: middle;
      color: #005BAA;
      font-size: 20px;
      border-bottom: 1px solid #005BAA;
    }
    .sidebar-content {
      .media-left {
        img {
          width: 64px;
          border-radius: 5px;
        }
      }
      .table {
        td {
          padding: 15px 0;
          line-height: 1.42857;
          vertical-align: top;
          border-bottom: 1px solid #ddd;
          border-top: 0
        }
      }
      .media {
        border-bottom: 1px solid #ddd;
        padding-bottom: 10px;
      }
      .media-body {
        h4 {
          font-size: 14px;
          font-weight: bold;
        }
        p {
          text-align: justify;
        }
      }
    }
  }

  .contact-box {
    background: #f0efa5;
    border: 1px solid #005BAA;
    border-radius: 5px;
    padding: 0 8px 8px 8px;
    .table {
      margin-bottom: 0;
    }
  }
}

.dropdown-menu .sub-menu {
    left: 100%;
    position: absolute;
    top: 0;
    visibility: hidden;
    margin-top: -1px;
}

.dropdown-menu li:hover .sub-menu {
    visibility: visible;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

@media (min-width: 768px) {
  #content {
    padding-left: 30px;
  }
}

#main-content {
  padding: 20px 0 50px;
  #content {
    .main-nav {
      background-color: #005BAA;
      li.dropdown {
        width: 25%;
        margin: 0;
        text-align: center;
        a {
          font-size: 16px;
          color: #FFFFFF;
          &:hover, &:focus {
            background: none;
          }
        }
      }
      .dropdown-menu {
        border-radius: 0;
        margin: 0;
        a {
          color: #005BAA !important;
        }
      }
    }

    .content-title {
      color: #005BAA;
      font-size: 24px;
      padding: 10px 0;
    }
  }
  p {
    img {
      max-width: 100%;
    }
  }
  #details {
    padding: 20px 0;
    text-align: justify;
    img {
      max-width: 100%;
    }
  }
}

footer {
  // padding: 20px 0;
  background: #f5f5f5;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  .copyright {
    height: 40px;
    background: #005BAA;
    margin-bottom: 20px;
    color: #FFFFFF;
    span {
      line-height: 40px;
    }
    .aligned-right {
      text-align: right;
    }
    img {
      border-radius: 5px;
    }
  }
  h4 {
    color: #005BAA;
    font-size: 24px;
  }
  .table {
    td {
      border-top: none !important;
      padding: 4px !important;
    }
  }
}

.admin-container {
  width: 400px;
  margin: 0 auto;
  label {
    padding: 5px 0;
  }
  .user_remember_me {
    label {
      padding-left: 10px;
    }
  }
}

.tags {
  padding-top: 20px;
  font-size: 16px;
  a {
    padding: 0 5px;
    font-size: 16px;
  }
}

.not-found {
  padding: 50px;
  display: block;
  width: 100%;
  text-align: center;
  font-weight: bold;
}

.related-article {
  padding-top: 20px;
  font-size: 16px;
  .title {
    font-size: 16px;
  }
  ul {
    padding: 0;
    margin: 0;
    margin-left: 20px;
    a {
      color: #005BAA;
      padding: 10px 0;
    }
  }
}
